<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>选择收货地址</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../Content/CSS/mojie/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/icons-extra.css" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/style.css" />
	</head>
	<body>
		<div class="contaniner">
			<section class="address-main"><!--地址容器-->
				<div class="address-list"><!--地址列表-->
					<div class="item-list bg choose-item-list"><!--地址元素-->
						<div class="item-from choose-item-from">
							<ul>
								<li class="title"><span class="mall-font-14 mall-color-title">杨帆</span><span class="mall-font-14 mall-color-title">15692282990</span></li>
								<li>
									<p class="mall-color-title"><span class="default">&nbsp;默认&nbsp;</span>&nbsp;天津市河西区友谊路5号北方金融大厦12C</p>
								</li>
							</ul>
						</div>
						<div class="item-action choose-item-action fr">
							<figure class="fr">
								<img class="sel fr" src="../../Content/Images/mojie/check.png"/>
							</figure>
						</div>
					</div><!--地址元素-->
					<div class="item-list bg choose-item-list"><!--地址元素-->
						<div class="item-from choose-item-from">
							<ul>
								<li class="title"><span class="mall-color-title">杨帆</span><span class="mall-color-title">15692282990</span></li>
								<li>
									<p class="mall-color-title"><span class="default">&nbsp;默认&nbsp;</span>&nbsp;天津市河西区友谊路5号北方金融大厦12C</p>
								</li>
							</ul>
						</div>
						<div class="item-action choose-item-action fr">
							<figure class="fr">
								<img class="sel fr" src="../../Content/Images/mojie/check.png"/>
							</figure>
						</div>
					</div><!--地址元素-->
				</div><!--地址列表-->
				<div class="add-address-submit">
					<a class="mui-btn mui-btn-danger mui-btn-block mui-icon mui-icon-plusempty" href="myaddress.html">新增收货地址</a>					
				</div>
			</section><!--地址容器-->
		</div>	
	</body>
</html>
<script src="../../Content/JS/mojie/mui.min.js"></script>
<script type="text/javascript">
	mui.init({
		swipeBack:true //启用右滑关闭功能
	});
</script>