<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../Content/CSS/mojie/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/icons-extra.css" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/style.css" />
	</head>
	<body>
		<section class="coupon-main bg coupondetails"><!--优惠券明细容器-->
			<div class="mui-scroll bg mall-scroll">
				<ul class="mui-table-view mui-table-list table-view-clean">
					<li class="mui-table-view-cell table-view-cell-coupon table-view-cell-clean" style="margin-bottom:0;">
						<div class="coupon bgstyle">
							<div class="coupon_left fl mall-color-btn">
								<sup style="font-size: 1.667rem;vertical-align: super;top: -1.7rem;">￥</sup>
								<span style="font-size: 4.667rem;font-weight: 700;">30</span>
								<sub style="font-size: 1.334rem;">元代金券</sub>
							</div>
							<div class="coupon_right fr mall-color-btn">
								<span style="font-size: 0.8333rem;line-height: 1rem;">仅限实体店、微商城使用</span>
								<span class="default fr">满250元使用</span>
							</div>
							<div class="coupon_bottom default">
								<span class="fl">使用时间：2016.11.01-2016.11.30</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="mui-content-padded mall-color-title">
				<ul>
					<li>优惠码：1234565768</li>
					<li>使用时间：</li>
					<li>使用规则：</li>
					<li>使用渠道：</li>
					<li>使用说明：</li>
					<li>1、领取时间</li>
					<li>2、代金券</li>
					<li>3、成功领取</li>
					<li>4、不兑换现金、不找零。</li>
				</ul>
			</div>
		</section><!--优惠券明细容器-->
	</body>
</html>
<script src="../../Content/JS/mojie/mui.min.js"></script>
<script type="text/javascript">
	mui.init({
		swipeBack:true //启用右滑关闭功能
	});
</script>