<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../Content/CSS/mojie/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/icons-extra.css" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/style.css" />
	</head>
	<body>
		<div class="contaniner">
			<section class="getcoupon-main bg"><!--优惠券容器-->
			<div><!--优惠券列表-->
				<div class="mui-control-content mui-active">
					<div id="scroll" class="mui-scroll-wrapper">
						<div class="mui-scroll bg">
							<ul class="mui-table-view mui-table-list table-view-clean">
								<li class="mui-table-view-cell table-view-cell-coupon table-view-cell-clean">
									<div class="coupon bgstyle">
										<div class="getcoupon_left">
											<div class="coupon_left fl mall-color-btn">
												<sup style="font-size: 1.667rem;vertical-align: super;top: -1.7rem;">￥</sup>
												<span style="font-size: 4.667rem;font-weight: 700;">130</span>
												<sub style="font-size: 1.167rem;">元</sub>
											</div>
											<div class="coupon_right fr mall-color-btn">
												<span class="mall-white" style="font-size: 0.8333rem;line-height: 1rem;">仅限实体店、微商城使用</span>
												<span class="default fr">满250元使用</span>
											</div>
											<div class="coupon_bottom default">
												<span class="fl">使用时间：2016.11.01-2016.11.30</span>
											</div>
										</div>
										<div class="getcoupon_right fr mall-color-btn mall-font-14">
											<span>立</span>
											<span>即</span>
											<span>领</span>
											<span>取</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--优惠券列表-->
		</section>	<!--优惠券容器-->
		</div>
	</body>
</html>
<script src="../../Content/JS/mojie/mui.min.js"></script>
<script type="text/javascript">
	mui.init({
		swipeBack:true //启用右滑关闭功能
	});
</script>