<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../Content/CSS/mojie/mui.css"/>
		<link rel="stylesheet" href="../../Content/CSS/mojie/demo.css"/>
		<link rel="stylesheet" href="../../Content/CSS/mojie/iconfont.css"/>
		<link rel="stylesheet" href="../../Content/CSS/mojie/style.css"/>
	</head>
	<body>
		<div class="self-header">
			<figure><img src="../../Content/Images/mojie/icon-demo.jpg"/></figure>
			<dl>
				<dt>会员姓名</dt>
				<dd>
					<i style="font-size: 14px;" class="icon iconfont icon-huiyuan1"></i>
					<span class="mall-color-title">会员卡等级</span>
				</dd>
			</dl>
		</div>
		<div class="contaniner">
			<section class="self">
				<dl>
					<dd>
						<ul>
							<li>
								<a href="myorder.html">
									<i class="icon iconfont icon-quanbudingdan-01"></i>
									<p class="mall-color-title">全部订单</p>
								</a>
							</li>
							<li>
								<a href="myorder.html">
									<i class="icon iconfont icon-daifukuan"></i>
									<p class="mall-color-title">待付款</p>
								</a>
							</li>
							<li>
								<a href="myorder.html">
									<i class="icon iconfont icon-daishouhuo-01"></i>
									<p class="mall-color-title">待收货</p>
								</a>
							</li>
							<li>
								<a href="myorder.html">
									<i class="icon iconfont icon-daipingjia"></i>
									<p class="mall-color-title">待评价</p>
								</a>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="self-style">
					<dt>
						<div>
							<i class="icon iconfont icon-iconfontwodezichan fl"></i>
							<p class="mall-font-14 mall-color-title">我的资产</p>
						</div>
					</dt>
					<dd>
						<ul>
							<li>
								<a href="go-order.html">
									<p>3000分</p>
									<p class="mall-color-title">我的积分</p>
								</a>
							</li>
							<li>
								<a href="MyCoupon.html">
									<p>2张可用</p>
									<p class="mall-color-title">现金优惠券</p>
								</a>
							</li>
							<li>
								<a href="MyPrize.html">
									<p>0张可用</p>
									<p class="mall-color-title">礼品优惠券</p>
								</a>
							</li>
						</ul>
					</dd>
				</dl>				
				<ul class="mui-table-view self-icon">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="Myinfo.html">
							<i class="icon iconfont icon-gerenxinxi"></i>
							<p class="mall-font-14 mall-color-title">个人信息</p>							
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a  class="mui-navigate-right" href="MyTrace.html">
							<i class="icon iconfont icon-icon12"></i>
							<p class="mall-font-14 mall-color-title">消费记录</p>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="manageaddress.html">
							<i class="icon iconfont icon-dizhi-01"></i>
							<p class="mall-font-14 mall-color-title">地址管理</p>
						</a>
					</li>
				</ul>		
			</section>
		</div>
	</body>
</html>
<script src="../../Content/JS/mojie/mui.min.js"></script>
<script type="text/javascript">
	mui.init({
		swipeBack:true //启用右滑关闭功能
	});
</script>
	