<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的优惠券</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../Content/CSS/mojie/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/icons-extra.css" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/style.css" />
	</head>
	<body>
		<section class="coupon-main bg"><!--优惠券容器-->
			<div class="coupon-list" style="border-bottom: 1px solid #CCCCCC;"><!--优惠券Tab头部-->
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
					<a class="mui-control-item mui-active" href="#item1">可使用</a>
					<a class="mui-control-item" href="#item2">已使用</a>
					<a class="mui-control-item" href="#item3">已过期</a>
				</div>
			</div><!--优惠券Tab头部-->
			<div><!--优惠券列表-->
				<div id="item1" class="mui-control-content mui-active"><!--Tab1内容-->
					<div id="scroll" class="mui-scroll-wrapper">
						<div class="mui-scroll bg">
							<ul class="mui-table-view mui-table-list table-view-clean table-view-top-clean">
								<li class="mui-table-view-cell table-view-cell-coupon table-view-cell-clean">
									<div class="coupon bgstyle">
										<div class="coupon_left fl mall-color-btn">
											<sup style="font-size: 1.667rem;vertical-align: super;top: -1.7rem;">￥</sup>
											<span style="font-size: 4.667rem;font-weight: 700;">30</span>
											<sub style="font-size: 1.334rem;">元代金券</sub>
										</div>
										<div class="coupon_right fr mall-color-btn">
											<span style="font-size: 0.8333rem;line-height: 1rem;">仅限实体店、微商城使用</span>
											<span class="default fr">满250元使用</span>
										</div>
										<div class="coupon_bottom default">
											<span class="fl">使用时间：2016.11.01-2016.11.30</span>
											<a class="default fr" href="Coupondetails.html">显示详情</a>
										</div>
									</div>
								</li>
							</ul>
							<div class="submit get-prize-submit"><!--添加按钮-->
								<a class="mui-btn mui-btn-danger mui-btn-block" href="GetCoupon.html">领取优惠券</a>					
							</div><!--添加按钮-->
						</div>
					</div>
				</div><!--Tab1内容-->
				<div id="item2" class="mui-control-content"><!--Tab2内容-->
					<ul class="mui-table-view mui-table-list table-view-clean">
						<li class="mui-table-view-cell table-view-cell-coupon table-view-cell-clean">
							<div class="coupon bgstyle">
								<div class="coupon_left fl mall-color-btn">
									<sup style="font-size: 1.667rem;vertical-align: super;top: -1.7rem;">￥</sup>
									<span style="font-size: 4.667rem;font-weight: 700;">30</span>
									<sub style="font-size: 1.334rem;">元代金券</sub>
								</div>
								<div class="coupon_right fr mall-color-btn">
									<span style="font-size: 0.8333rem;line-height: 1rem;">仅限实体店、微商城使用</span>
									<span class="default fr">满250元使用</span>
								</div>
								<div class="coupon_bottom default">
									<span class="fl">使用时间：2016.11.01-2016.11.30</span>
									<a class="default fr" href="">显示详情</a>
								</div>
							</div>
						</li>
						<li class="mui-table-view-cell table-view-cell-coupon table-view-cell-clean">
							<div class="coupon bgstyle">
								<div class="coupon_left fl mall-color-btn">
									<sup style="font-size: 1.667rem;vertical-align: super;top: -1.7rem;">￥</sup>
									<span style="font-size: 4.667rem;font-weight: 700;">60</span>
									<sub style="font-size: 1.334rem;">元代金券</sub>
								</div>
								<div class="coupon_right fr mall-color-btn">
									<span style="font-size: 0.8333rem;line-height: 1rem;">仅限实体店、微商城使用</span>
									<span class="default fr">满450元使用</span>
								</div>
								<div class="coupon_bottom default">
									<span class="fl">使用时间：2016.11.01-2016.11.30</span>
									<a class="default fr" href="">显示详情</a>
								</div>
							</div>
						</li>
					</ul>
					<div class="submit get-prize-submit"><!--添加按钮-->
						<a class="mui-btn mui-btn-danger mui-btn-block" href="GetCoupon.html">领取优惠券</a>					
					</div><!--添加按钮-->
				</div><!--Tab2内容-->
				<div id="item3" class="mui-control-content"><!--Tab3内容-->
					<ul class="mui-table-view mui-table-list table-view-clean">
						<li class="mui-table-view-cell table-view-cell-coupon table-view-cell-clean">
							<div class="coupon bgstyle">
								<div class="coupon_left fl mall-color-btn">
									<sup style="font-size: 1.667rem;vertical-align: super;top: -1.7rem;">￥</sup>
									<span style="font-size: 4.667rem;font-weight: 700;">30</span>
									<sub style="font-size: 1.334rem;">元代金券</sub>
								</div>
								<div class="coupon_right fr mall-color-btn">
									<span style="font-size: 0.8333rem;line-height: 1rem;">仅限实体店、微商城使用</span>
									<span class="default fr">满250元使用</span>
								</div>
								<div class="coupon_bottom default">
									<span class="fl">使用时间：2016.11.01-2016.11.30</span>
									<a class="default fr" href="">显示详情</a>
								</div>
							</div>
						</li>
						<div class="submit get-prize-submit"><!--添加按钮-->
							<a class="mui-btn mui-btn-danger mui-btn-block" href="GetCoupon.html">领取优惠券</a>					
						</div><!--添加按钮-->
					</ul>
				</div><!--Tab3内容-->
			</div><!--优惠券列表-->
		</section>	<!--优惠券容器-->
	</body>
</html>
<script src="../../Content/JS/mojie/mui.min.js"></script>
<script type="text/javascript">
	mui.init({
		swipeBack:true //启用右滑关闭功能
	});
</script>