<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../Content/CSS/mojie/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/icons-extra.css" />
		<link rel="stylesheet" href="../../Content/CSS/mojie/style.css" />
	</head>
	<body>
		<div class="contaniner fixed-contb">
			<section class="address-main orderdetail-main"><!--订单详情容器-->
				<div class="address-list "><!--确认订单列表-->
					<div class="item-list mall-item-list" style="padding:0;"><!--地址元素-->
						<div class="item-from">
							<ul class="mui-table-view" style="height:5.917rem;">
								<li class="title">
									<span class="mall-font-14 mall-color-title">订单编号：26497200542</span>
									<span class="mall-font-14 mall-color-title fr">交易成功</span>
								</li>
								<li>
									<p class="mall-color-title">下单时间：2016-11-01 12:33:33</p>
								</li>
							</ul>
						</div>
						<div class="item-from" >
							<ul class="mui-table-view" style="height:10.084rem;">
								<li class="mui-table-view-cell table-view-clean mall-font-14">
									<span class="mall-font-14 mall-color-title">收货人：杨帆</span>
									<span class="mall-font-14 mall-color-title fr">15692282990</span>
								</li>
								<li class="mui-table-view-cell table-view-clean">
									<span class="mall-color-title" style="width:100%;">&nbsp;天津市河西区友谊路5号北方金融大厦12C</span>
								</li>
								<li class="mall-list-height-50">
									<span class="mall-color-title mall-font-14">给卖家留言：哈哈哈！</span>
								</li>
							</ul>
						</div>
					</div><!--地址元素-->
					<div class="myorder-main bg"><!--商品信息容器-->
						<ul class="mui-table-view table-view-clean" style="margin:0 0;">
							<li class="mui-table-view-cell mui-table-list table-view-clean">
								<span class="mall-font-14 mall-color-title">商品信息</span>
							</li>
						</ul>
						<ul class="mui-table-view table-view-clean" style="margin:0 0;"><!--商品信息-->
							<li class="mui-table-view-cell mall-table-view-cell table-view-clean">
								<figure><img style="width:100%;" src="../../Content/Images/mojie/1.png"/></figure>
								<ul class="fr">
									<li class="goods-name"><p class="fl">蒂佳婷水润亮彩焕肤面膜蒂佳婷水润亮彩焕肤面膜蒂佳婷水润亮彩焕肤面膜</p></li>
									<li class="goods-attr">
										<span class="mall-color-btn" style="font-weight: 700;">￥196.00</span>
										<span  class="fr">*1</span>
									</li>
								</ul>
							</li>	
						</ul><!--商品信息-->
						<ul class="mui-table-view" style="position: relative;margin:0 0;">
							<li class="mui-table-view-cell" >
								<span class="fr mall-font-14" style="width:100%;">共3件商品，合计<strong class="mall-color-btn">￥698.00</strong>元</span>
							</li>
							<li class="mui-table-view-cell">
								<span>支付信息</span>
								<span class="fr">微信 已支付</span>
							</li>
							<li class="mui-table-view-cell">
								<span>商品数量</span>
								<span class="fr">3件</span>
							</li>
							<li class="mui-table-view-cell">
								<span>商品总额</span>
								<span class="fr">￥196.00</span>
							</li>
							<li class="mui-table-view-cell">
								<span>运费</span>
								<span class="fr">￥12.00</span>
							</li>
							<li class="mui-table-view-cell">
								<span>实付款</span>
								<span class="fr">￥196.00</span>
							</li>
						</ul>
					</div><!--商品信息容器-->
				</div><!--确认订单列表-->
			</section><!--确认订单容器容器-->
		</div>	
		<footer class="trade-footer fixed-footer orderdetail-footer">
			<div class="trade-order-submit fr mui-btn-blue">
				<a class="mui-btn-bule" href="" >再次购买</a>
			</div>
			<div class="trade-order-submit fr">
				<a href="">提交订单</a>
			</div>
			<div class="trade-order-submit fr">
				<a class="confirmBtn" href="" num="1">删除订单</a>
			</div>
		</footer>
	</body>
</html>
<script src="../../Content/JS/mojie/mui.min.js"></script>
<script type="text/javascript">
	mui.init({
		swipeBack:true //启用右滑关闭功能
	});
	mui('.confirmBtn').each(function(){
		this.addEventListener('tap',function(e){
			var btnArray = ['取消', '确认'];
			var id = this.getAttribute("num");
			mui.confirm('您确定删除该订单吗？', '', btnArray, function(e) {
				if (e.index == 1) {
					DelCustomerAddress();
				} else {
					javascript:hiddenDiv('delTip');
				}
			},'div')
		})
	});
</script>