/*公用*/
html{font-size:12px;}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:12px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:11px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:13px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}
*{margin:0;padding:0;}
html,body{width:100%;}
body{overflow:-Scroll;overflow-x:hidden;font-family:PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;color:#CCCCCC;} 
html{-ms- text-size- adjust: 100%;-webkit-text-size-adjust:100%;} 
p{margin-bottom:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block;} /* 变为块级元素*/ 
audio,canvas,progress,video { 
	display: inline-block; 
	vertical-align: baseline;  
}
figure{margin:0;}
li{list-style: none;}
a{text-decoration:none;color:#CCCCCC;}
a:hover{text-decoration:none;}
.iconfont{font-size: 24px;color:#666666;}
/*元素容器*/
.contaniner{width:100%;background-color:#F3F3F3;overflow:hidden;}
/*字体及颜色设置*/
.mall-font-title{font-size:1.33rem;font-weight:500;line-height:1.6rem;}
.mall-font-14{font-size:1.17rem;} 
.mall-font-10{font-size:0.833rem;}
.mall-color-title{color:#666666;}
.mall-color-btn{color:#d8346e;} 
.mall-color-def{color:#CCCCCC;}
/*高度设置*/
.mall-height-50{height:4.17rem;line-height: 4.17rem;}

/*按钮设置*/
.submit{
	width: 70%;
    margin: 0 auto;
    height: 4rem;
}
.mui-btn{
	font-size: 1.17rem;
    height: 3.33rem;
    padding: 0.88rem 0;
    color:#CCCCCC;
}
.mui-btn-danger{background:#d8346e;}
.mui-btn-block{border-radius:2rem;}
/*float*/
.fr{float:right;}
.fl{float:left;}
/*统一背景颜色*/
.bg{background: #FFFFFF;}
/*背景图片设置*/
.bgstyle{
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;  
    background-size:100% 100%; 
}
/*位置设置*/
.fixed-header{position: fixed; top: 0; left: 0;}
.fixed-footer{position: fixed; bottom:0; left: 0;}
.fixed-contb{margin-bottom: 20%;}/*顶部不固定，底部固定*/
.fixed-conta{margin-bottom:5rem;margin-top:4.17rem;}
/*tab切换按钮设置*/
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color:#D8346E;
	border-bottom: 0;
	/*border-bottom: 2px solid #D8346E;*/
}
/*消息框*/
.mui-popup-button{color:#d8346e;background-color: white;}
.mui-popup-inner{background-color:white;}
.mui-popup{color:#666666;}
/*清楚bottom线*/
.table-view-top-clean:before{
	background: none;
}
.table-view-clean:after{
	background: none;
}
.table-view-cell-clean:after{
	background: none;
}
sub{bottom:0;}
.cl{clear:both;display:block;zoom:1;overflow:hidden;}
.mui-btn-blue{
	border: 1px solid #d8346e;
    background-color: #d8346e;
}
/*tab样式*/
.mui-segmented-control .mall-control-item{
	width:100%;
}
/*字体省略号*/
.mall-white{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
/*删除线*/
.delete{text-decoration:line-through;} 
.opacity{
	-moz-opacity:0.75; /*Firefox私有，透明度50%*/
	opacity:0.75;/*其他，透明度50%*/
}
.add-address-submit {
	width:70%;
	margin:0 auto;
	overflow: hidden;
}
.mui-table-view-cell{padding:0;}
.mui-table-view-cell>a:not(.mui-btn){padding:0;margin:0;}
/*公用*/
/*错误页*/
#error{width: 100%;margin: 0 auto;margin-top:1rem;}
#error img{width:100%;}
/*错误页*/
/*错误页*/
#empty-data{width:100%;margin:0 auto;margin-top:3rem;}
#empty-data figure{width:20%;margin-left:40%;}
#empty-data figure i{font-size: 72px;}
#empty-data span{display: block;font-size: 1.17rem;text-align: center;}
/*错误页*/
/*Nav*/
/*Nav*/
/*个人中心*/
.self-header{
	width:100%;
	background: url(../../Images/mojie/mnie-bg.jpg);
	background-size: 100%;
	padding: 3% 0;
	overflow: hidden;
}
.self-header figure{
	display: block;
	width:22%;height:0;
	margin:0 auto;
	margin-top: 7%;
	padding-bottom: 20%;
	border-radius: 50%;
	border: solid 2px rgba(255,255,255,0.8);overflow: hidden;
}
.self-header figure img{width: 100%;}
.self-header dl{width: 100%;margin: 4% 0;overflow: hidden;}
.self-header dl dt{width:100%;text-align: center;}
.self-header dl dd {text-align: center;margin-top: 3%;}
.self-header dl dd img{ width: 15px; vertical-align: middle;}
.self-header dl dd span{margin-right:3%; vertical-align: middle;}
.contaniner .self{ width: 100%; margin-top: 10px;}
.contaniner .self dl{ width: 100%;}
.contaniner .self dl dt{ width: 90%; overflow: hidden; padding:0.5rem 5%; background-color: #fff; }
.contaniner .self dl dt a{ width: 100%; display: block; overflow: hidden;}
.contaniner .self dl dt p{float: left; margin:0.5rem 3%;}
.contaniner .self dl dt span{width: 4%; float: right;}
.contaniner .self dl dd{ width: 100%; border-top: solid 1px #c8c8c8;}
.contaniner .self dl dd ul{ width: 100%;padding: 0 9.4%;display: table; overflow: hidden; background-color: #fff}
.contaniner .self dl dd ul li{ display: table-cell; width: 25%; text-align: center; padding: 3% 0;}
.contaniner .self dl dd ul li a{ width: 100%; display: block; height: 100%;}
.contaniner .self dl dd ul li p{padding-top: 10%;}
.contaniner .self .self-icon{width: 100%; margin-top:10px; background-color: #fff}
.contaniner .self .self-icon li{ width:100%;padding:0.5rem 5%; overflow: hidden;}
.contaniner .self .self-icon li a{width: 100%;overflow: hidden;}
.contaniner .self .self-icon li i{float: left;}
.contaniner .self .self-icon li p{padding: 0.7rem 3% 0 3%;float:left;}
.contaniner .self .self-icon li span{width: 4%; float: right;}
.contaniner .self .self-icon li span img{ width: 1rem;}
.contaniner .self-style{margin-top:10px;}
.contaniner .self .self-style dt{width:100%;}
/*个人中心*/
/*购物车*/
.contaniner .car-main{width:100%;background-color:#F7F7F7;overflow: hidden;}
.contaniner .car-main .car-list{background-color: #fff;}
.contaniner .car-main .car-list .item-list{border-bottom: 1px solid #F7F7F7;}
.shopingcart .car-main .car-list .item-list .item-from{margin: 2% 5%;}
.contaniner .car-main .car-list .item-list .item-from .shopcar-checkbox{display: inline-block;width:8%;height:8rem;overflow: hidden;line-height:8rem;text-align:center;}
.contaniner .car-main .car-list .item-list .item-from .shopcar-checkbox img{width:50%;}
.contaniner .car-main .car-list .item-list .item-from figure{display: inline-block;width: 25%; margin:0 0;overflow: hidden; }
.contaniner .car-main .car-list .item-list .item-from figure img{width: 100%;}
.contaniner .car-main .car-list .item-list .item-from dl{display: inline-block; width: 33%;margin-left: 1rem; overflow: hidden;}
.shopingcart .car-main .car-list .item-list .item-from dl dt{display:inline-block;width:100%;font-size: 1.2rem; color: #666666;margin-bottom: 1.17rem;line-height: 1.6rem;}
.shopingcart .car-main .car-list .item-list .item-from dl dd{ font-size: 1rem; color: #CCCCCC;line-height:1.6rem;}
.shopingcart .car-main .car-list .item-list .item-from .jine{display:inline-block;width:23.4%;padding-left:3%;height: 7.5rem; margin-top:0.4rem;color: #D8346C; font-weight: 700;}
.contaniner .car-main .car-list .item-list .item-from .jine span{font-size: 1.2rem; line-height: 1.6rem;}
.contaniner .car-main .car-list .item-list .item-action{width:100%;display:inline-block;margin-left:37.7%;margin-bottom:2rem;overflow: hidden;}
.contaniner .car-main .car-list .item-list .item-action .add{bottom:0;left:0;overflow: hidden; display: inline-table;}
.contaniner .car-main .car-list .item-list .item-action .add span{width:1.8rem;height:1.6rem;line-height:1.6rem;border:solid 1px #E6E6E6;display:table-cell;color:#666666;text-align: center;}
.contaniner .car-main .car-list .item-list .item-action .add input{border:solid 1px #E6E6E6; width:3.6rem;height:1.8rem;line-height: 1.8rem; display:table-cell;font-size:1rem;color: #666666;padding:1%;text-align: center;margin-bottom:0;}
.contaniner .car-main .car-list .item-list .item-action small{display:inline-block;width: 1.8rem;height:1.8rem;margin-left:15%;bottom:0;}
.contaniner .car-main .car-list .item-list .item-action small img{width: 100%;}
.trade-footer{width:100%;height:5rem;background:#FFFFFF;border-top:1px solid #CCCCCC;overflow: hidden;}
.trade-footer .trade-check-all{width:19.44%;height:4.167rem;display:inline-table;line-height:4.167rem;text-align:center;overflow: hidden;}
.trade-footer .trade-check-all img{width:35%;}
.trade-footer .trade-check-all span{display:table-cell;font-size:1.2rem;color: #AAAAAA;}
.trade-footer .trade-price-info{display:inline-block;width:40%;height:3.33rem;line-height:3.33rem;}
.trade-footer .trade-price-info li .price{line-height:1.4rem;color:#d7366f;font-size: 1.4rem;}
.trade-footer .trade-price-info li span{line-height:1.1rem;color:#BBBBBB;font-size: 1.1rem;margin-top:0.6rem}
.trade-footer .trade-order-submit{width:38.91%;display:inline-block;height:5rem;line-height:5rem;text-align:center;background-color: #D7366F;font-size: 1.17rem;}
.trade-footer .trade-order-submit a{color:#FFFFFF;}
/*购物车*/
/*管理收货地址*/
.contaniner .address-main {
	overflow: hidden;
}

.contaniner .address-main .address-list {
	width: 100%;
	overflow: hidden;
}
.contaniner .address-main .address-list .item-list {
	width: 100%;
	padding:0 5%;
	margin-top: 1.4rem;
	margin-bottom: 0.5rem;
	overflow: hidden;
}

.contaniner .address-main .address-list .item-from {
	overflow: hidden;
	border-bottom: 1px solid #F3F3F3;
	padding: 1rem 0;
}

.contaniner .address-main .address-list .item-from li {
	display: inline-block;
	width: 100%;
	height:2rem;
	line-height: 2rem;
}

.contaniner .address-main .address-list .item-from li span {
	display: inline-block;
}

.contaniner .address-main .address-list .item-action {
	width: 100%;
	height: 5rem;
	line-height: 5rem;
}

.contaniner .address-main .address-list .item-action figure {
	display: inline-block;
	width: 45%;
	height: 1.7rem;
	line-height: 1.7rem;
	overflow: hidden;
	vertical-align: middle;
}

.contaniner .address-main .address-list .item-action figure img {
	display: inline-block;
	width: 1.6rem;
	margin-right: 2%;
}

.contaniner .address-main .address-list .item-action figure span {
	display: inline-block;
	height: 1.6rem;
	line-height: 1.6rem;
	font-size: 1.6rem;
}

.manageaddress .address-main .address-list .item-action datalist {
	display: inline-block;
	float: right;
	width: 50%;
	height: 3rem;
	line-height: 3rem;
	overflow: hidden;
	margin-top: 1.2rem;
}

.manageaddress .address-main .address-list .item-action datalist .mui-btn {
	display: inline-block;
	float: right;
	padding: 0 0.4rem;
	height: 3rem;
	margin-left: 6%;
	font-size: 1.6rem;
	line-height: 3rem;
	border-radius: 0.5rem;
	color:#CCCCCC;
}

.manageaddress .address-main .add-address-submit {
	width: 87.5%;
	margin: 0 auto;
	height: 3rem;
	margin-top: 1.6rem;
}

.manageaddress .address-main .add-address-submit {
	width: 70%;
	margin: 0 auto;
	height: 4rem;
	margin-top: 1.6rem;
}

.contaniner .address-main .add-address-submit .mui-btn {
	width: 100%;
	margin-top:1rem;
	font-size: 1.17rem;
	height: 3.33rem;
	padding: 0.88rem 0;
	color: white;
	margin-bottom: 0;
}
/*管理收货地址*/
/*添加收货地址*/
.myaddress .mui-input-row{
	display: block;
	height: 4.16rem;
	border-bottom: 1px solid #cccccc;
}
.myaddress .mui-input-row label{
	width:30%;
	font-size: 1.17rem;
	height:4.16rem;
	padding: 0 0;
	line-height: 4.16rem;
	color:#666666;
}
.myaddress .mui-input-row label~input{
	width:70%;
	font-size: 1.17rem;
	height: 4.16rem;
	line-height: 4.16rem;
	padding:0;
}
.myaddress .manageaddress .address-main .address-list .mui-table-view{
	height:4.16rem;
	margin:0;
}
.myaddress .mui-table-view .mui-table-view-cell{
	width:100%;
	margin:0;
	padding:0;
	color:#666666;
}
.myaddress .mui-table-view .mui-table-view-cell a{margin:0;}
.myaddress .mui-table-view .address-cell{
	font-size:1.17rem;
	height: 4.16rem;
	line-height: 4.16rem;
}
.myaddress .mui-input-textarea{
	height: 8.3rem;
	margin: 1rem 0;
	border:0;	
}
.myaddress .mui-input-textarea textarea{
	height: 8.3rem;
	margin-bottom: 0;
}
.myaddress .mui-input-bottom{
	border-bottom: 0;
}
.mui-input-row figure{
	display: inline-block;
	width: 1.17rem;
	line-height: 4.16rem;
    margin:0 5%;
	overflow: hidden; 
}
.mui-input-row figure img{width:1.17rem;}
/*添加收货地址*/
/*优惠券*/
.coupon-list{
	width:100%;
	display: block;
	overflow: hidden;
	margin-bottom: 1rem;
}
.mui-table-list{
	height:auto;
}
.mui-table-list{
	width:100%;
	padding:0 5%;
}
.mui-table-list .table-view-cell-coupon{
	height: auto;
	margin-bottom:1.667rem;
}
.mui-table-view-cell .coupon{
	width:100%;
	background-image: url(../../Images/mojie/coupon-bg.png);
}
.mui-table-view-cell .coupon .coupon_left{
	display: inline-block;	
	width:50%;
	height: 4.667rem;
	margin:1.25rem 0 0 0.833rem;
	line-height: 4.667rem;
}
.mui-table-view-cell .coupon .coupon_right{
	display: inline-block;	
	width:43%;
	height:4.667rem;
	margin:1.25rem 0.8333rem 0 0;
	overflow: hidden;
	line-height:0.8333rem;
	text-align: right;
}
.mui-table-view-cell .coupon .coupon_right .default{
	font-size: 1.17rem;
	height:1.5rem;
	line-height: 1.5rem;
	margin:1.25rem 0 0 0;
}
.table-view-cell-coupon .coupon .coupon_bottom{
	display:inline-block;
	width:100%;
	height: 2.1rem;
	line-height: 2.1rem;
}
.table-view-cell-coupon .coupon .coupon_bottom span{
	display:inline-block;
	margin-left: 0.8333rem;
	width:70%;
}
.table-view-cell-coupon .coupon .coupon_bottom a{
	display: inline-block;
	width:23%;
	margin-right: 0.8333rem;
	text-align: right;

}
.mui-table-view .mui-table-view-cell .default{
	display:inline-block;
	
}
/*优惠券*/
/*优惠券明细*/
.coupondetails{margin-top:2rem;}
.mui-content-padded{
	margin:0 5%;
	padding:5%;
	border:1px solid #CCCCCC;
	display:block;
	margin-top:1.667rem;
	position: relative;
    z-index: 0;
    
}
.mall-scroll{
	position: relative;
	z-index: 0;
}

/*优惠券明细*/
/*选择收货地址*/
.contaniner .address-main .address-list .choose-item-list{margin-top: 0.1rem;margin-bottom:0;}
.contaniner .address-main .address-list .choose-item-from{
	width:90%;
	display:inline-block;
	border-bottom:none;
	padding:1.25rem 0;
}
.contaniner .address-main .address-list .choose-item-from .mall-color-title{margin-right:1.25rem;}
.contaniner .address-main .address-list .choose-item-action{
	width:10%;
	display:inline-block;
	padding: 2.5rem 0 0 0;
	/*text-align: center;*/
	height:auto;
}
.default{
	display:inline-block;
	background-color: #d8346e;	
	color:#FFFFFF;
}
.contaniner .address-main .address-list .choose-item-action figure{width:100%;}
/*选择收货地址*/
/*奖品券*/
.prize{
	width:100%;
	background-image: url(../../Images/mojie/coupon-bg.png);
	padding: 1.25rem 0 0 0.8333rem;	
	overflow:hidden;
	margin-bottom:1.667rem;
}

.prize .prize_left{
	display:inline-block;
	width:25%;
	margin-right:0.8333rem;
	overflow: hidden;
}
.prize .prize_left img{width:100%;}
.prize .prize_right{
	display:inline-block;
	width:71.5%;
}
.prize .prize_right ul .title{
	margin-bottom: 0.8333rem;
}
.prize .prize_right ul .bottom{
	height:2.083rem;
	line-height: 2.083rem;
	margin-top: 0.667rem;
	padding-left:1%;
	background-color: #d8346e;
	color:#FFFFFF;
}
.prize-main .get-prize-submit{margin-top:1rem;}
/*奖品券*/
/*领取优惠券*/
.getcoupon_left{width:85%;display: inline-block;}
.getcoupon_right{width:15%;height:8.25rem;padding:1.25rem;display:inline-block;border-left: 1px dotted #CCCCCC;}
.getcoupon-main .mui-scroll .mui-table-list{
	margin-top: 1.667rem;
}
.getcoupon-main .table-view-cell-coupon .coupon_bottom span{width:100%;}
.getcoupon_right span{
	display: inline-block;
	width:100%;
	word-wrap: break-word;
}
.mui-table-view-cell .getcoupon_left .coupon_left{width:50%;margin-top:1rem;}
.mui-table-view-cell .getcoupon_left .coupon_right{
	width:46%;
	margin-right:0;	
	padding-right:0.5rem;
}
.mui-table-view-cell .getcoupon_left .coupon_right .default{
	width:80%;
	text-align: center;
	background: #FFFFFF;
	color:#d8346e;
	border:1px solid #D8346E;
}
.getcoupon_right span{
	display:block;
	text-align: center;
	line-height: 1.5rem;
	font-weight: 700;
}
/*领取优惠券*/
/*个人信息*/
.mui-page-content .mui-scroll-wrapper .info-main{width:100%;height:11.25rem;padding:0 5%;overflow:hidden;background-image: url(../../Images/mojie/mnie-bg.jpg);}
.mui-page-content .mui-scroll-wrapper .info-main figure{
	display:block;
	width:25%;
	height:0;
	margin:0 auto;
	margin-top: 10%;
    padding-bottom: 23%;
	border-radius: 50%;
	border: solid 2px rgba(255,255,255,0.8);
	overflow: hidden;
}
.mui-page-content{width:100%;overflow: hidden;}
.mui-page-content .mui-table-view-cell{
	margin:90%;
	margin:0 0;
	height:4.17rem;
	font-size: 1.17rem;
	color:#666666;
}
.mui-page-content .mui-table-view-cell span{
	width:40%;
	display:inline-block;
	line-height:4.17rem;
	margin-left:5%;
	
}
.mui-page-content .mui-table-view-cell .mall-info{
	text-align: right;
}
/*个人信息*/
/*我的订单*/
.myorder-main .myorder-list{
	margin-bottom: 0;
}
.myorder-main .mui-table-view .mui-table-view-cell{
	width:100%;
	padding:0 5%;
}
.myorder-main .mui-table-view .mui-table-view-cell a{
	color:#666666;
}
.myorder-main .mui-table-view .mui-table-view-cell span{
	width: 40%;
    display: inline-block;
    line-height: 4.17rem;
}
.myorder-main .mui-table-view .mui-table-view-cell .goods-attr span{height:1rem; line-height: 1rem;}
.myorder-main .mui-table-view .mui-table-view-cell .fr{
	text-align: right;
}
.myorder-main .mui-table-view .submit .fr{text-align: center;}
.myorder-main .mui-table-view .mall-table-view-cell{
	margin:0;
	background:#f8f8f8;
	height: 7rem;
}
.myorder-main .mall-table-view-cell figure{
	display:inline-block;
	width:5rem;
	height:5rem;
	margin:0.41rem 0;
}
.myorder-main .mall-table-view-cell ul{
	display:inline-block;
	width:80%;
	font-size: 0.8333rem;
	margin:0.41rem 0;
	overflow: hidden;
}
.myorder-main .mall-table-view-cell ul li{
	display:inline-block;
	width:100%;
	height:1.25rem;
	line-height:1.25rem;
	/*overflow: hidden;*/
}
.myorder-main .mall-table-view-cell ul li p{
	display:inline-block;
	width:72%;
	line-height: 1rem;
	white-space: normal;
	margin:0;
	color:#666666;
	text-align: left;
}
.myorder-main .mall-table-view-cell ul span{
	width:20%;
	line-height: 1rem;
}
.myorder-main .mall-table-view-cell ul .goods-name{
	height:3rem;
	line-height:3rem;
	margin-top:0.833rem;
}
.myorder-main .mall-table-view-cell ul .goods-name span{width:27%;}
.myorder-main .mall-table-view-cell ul .goods-attr{
	text-align: left;
	color:#CCCCCC;
	margin-top:0.833rem;
}
.myorder-main .mall-table-view-cell ul .goods-serve{
	text-align: left;
	color:#d8346e;
}
.myorder-main .mui-table-view  .mall-btn{
	width:6rem;
	height:3rem;
	display:inline-block;
	position: relative;
	right:0;
	margin-left:0.5rem;
	text-align: center;
	font-size: 1rem;
	color:#666666;
}
.myorder-main .mui-table-view .m10{
	margin-top:0.8333rem;
}
/*我的订单*/
/*确认订单*/
.contaniner .conorder-main .address-list .mall-item-list {
	position: relative;
	margin-bottom:1px;
}
.contaniner .conorder-main .address-list .mui-table-view{
	height:auto;
}
.contaniner .conorder-main .address-list .mui-table-view .goods-name p{
	width:100%;
}
/*.contaniner .conorder-main .address-list .mui-table-view .goods-attr{
	margin-top:1.2rem;
}*/
.contaniner .conorder-main .myorder-main .mui-table-view .mui-table-view-cell{
	font-size: 1.17rem;
}
.contaniner .conorder-main .myorder-main .mui-table-view .conorder-coupon{
	position:relative;
	padding:0 5%;
}
.contaniner .conorder-main .myorder-main .mui-table-view .conorder-coupon a{
	position:relative;
	padding:0;
}
.contaniner .conorder-main .myorder-main .mui-table-view .conorder-coupon span{
	width:44%;
}
.contaniner .conorder-main .myorder-main .mui-table-view .conorder-coupon img{
	width:5%;
	margin-left:3%;
}
.contaniner .conorder-main .myorder-main .mui-table-view .conorder-coupon a:after{
	right:0;
}
.coupon-list-coupon
{
    border-bottom:1px solid #e3e3e3;
    width:100%;
    min-height:2rem;
    padding:0.8rem;
    padding-bottom:0.2rem;
    position:relative;
    display:none;
}
.coupon-list-coupon table
{
    width:100%;
    font-size:14px;
}
.coupon-list-coupon tr
{
    border:1px solid #e3e3e3;
}
.coupon-list-coupon tr:nth-child(2n)
{
    height:10px;
    border-width:0px;
}
.coupon-list-coupon td
{
    padding:5px;
}
.coupon-list-coupon td:nth-child(2){
  text-align: center;
  vertical-align: middle;
  width: 12%;
}
.coupon-list-coupon td img
{
    width:19px;
    height:19px;
}
/*确认订单*/
/*分类*/
.category .mall-search input{
	background: #FFFFFF;
	border:1px solid #CCCCCC;
	color:#cccccc;
}
.category .mui-search.mui-active:before{margin-top: -25px;}
.category .mui-search .mui-placeholder{
	line-height: 4.17rem;
	height:4.17rem;
}
#category .mall-search{
	display: inline-block;
	width:70%;
	margin-left:7.5%;
	line-height: 4.17rem;
	border-bottom: none;
}
#category .mall-search .mall-input-search{
		margin-bottom:0;
}
.mall-fullscreen{
	top:4.17rem;
}
.mui-segmented-control.mui-segmented-control-inverted .mall-control-item{
	height:4.17rem;
	line-height: 4.17rem;
}
.mui-segmented-control.mui-segmented-control-inverted .mall-control-item.mui-active{
	color:#666666;
	border-left: 5px solid #d8346e;
	background: #EEEEEE;
	border-right: 0;
}
.category #segmentedControlContents{
	background: #EEEEEE;
}
.category #segmentedControlContents .mall-table-view{
	background:#EEEEEE;
	padding-right: 0.417rem;
	padding-left: 0.833rem;
	margin-top:0;
}
.category #segmentedControlContents .mall-table-view h4{
	height:4.17rem;
	margin:0 5%;
	line-height: 4.17rem;
}
.category #segmentedControlContents .mall-table-view .mall-table-view-cell{
	display: inline-block;
	width:28%;
	height:8.333rem;
	margin: 0.833rem 0.833rem 0.833rem 0;
}
.category #segmentedControlContents .mall-table-view .mall-table-view-cell figure{
	width:100%;
	overflow: hidden;
}
.category #segmentedControlContents .mall-table-view .mall-table-view-cell figure img{
	width:100%;
}
#segmentedControlContents{
	min-height:100%;
}
.category #segmentedControlContents .mall-table-view .mall-table-view-cell span{
	display: block;
	width:100%;
	line-height: 2.08rem;
	text-align:center;
	color:#666666;
}
.mui-icon-clear:before,.mui-icon-close-filled:before
{
	content: '\e434';
	/*content: '\e466';*/
}
#category .mui-icon-search{
	display: inline-block;
	width:15%;
	height:34px;
	margin-top: 7px;
	border-radius: 0.5rem;
	line-height: 1;
}
/*分类*/
/*订单详情*/
.contaniner .orderdetail-main .address-list .item-from{
	width:100%;
	padding:0 0 0.833rem 0;
	
}
.contaniner .orderdetail-main .address-list .item-from .mui-table-view{
	padding:1.25rem 5% 0 5%;
}
.contaniner .orderdetail-main .address-list .item-from .mui-table-view .mui-table-view-cell{
	height:1rem;
	line-height:1rem;
	
}
.contaniner .orderdetail-main .address-list .item-from .mui-table-view .mall-font-14{
	height:1.17rem;
	line-height:1.17rem;
	margin-bottom:1.25rem;
}
.contaniner .orderdetail-main .address-list .item-from .mui-table-view .mui-table-view-cell span{
	height:1rem;
	line-height:1rem;
}
.contaniner .orderdetail-main .address-list .item-from .mui-table-view .mall-list-height-50{
	height: 4.16rem;
	line-height: 4.16rem;
}
.contaniner .orderdetail-main .address-list .item-from .mui-table-view span{
	margin-right: 0;	
}
.orderdetail-footer .trade-order-submit {
    width: 20%;
    display: inline-block;
    height: 3rem;
    margin:1rem 10% 1rem 0;
    line-height: 3rem;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0.5rem;
    font-size: 1.17rem;
}
.orderdetail-footer .mui-btn-blue{
	border: 1px solid #d8346e;
	
}
.orderdetail-footer .mui-btn-blue .mui-btn-bule{
	color:#d8346e;
}
.orderdetail-footer .trade-order-submit a{
	color:#666666;
}
/*订单详情*/
/*商品列表*/
#mall-content{overflow: hidden;padding-top: 50px;}
#list{ width: 100%;overflow: hidden;height:50px;}
#list label{width:10%;display: inline-block;overflow: hidden;}
#list nav{ width: 100%;}
#list nav ul{width: 100%; background-color: #fff;overflow: hidden;}
#list nav ul li{ float: left;padding: 3% 0; text-align: center; width: 25%;}
#list nav ul li a{ display: block; width: 100%; color: #999999;}
#list nav ul li span{ font-size: 1.45em;}
#list nav ul li img{ width: 5%;}
#list nav ul .list-active a span{ color: #f55508;}
.wall-column {display:block;position:relative;width:50%;float:left;padding:0 2%;box-sizing: border-box;}
#pullrefresh{position: absolute;}
#pullrefresh .item{
	width:100%;
	padding:0.833rem 5%;
	overflow: hidden;
}
#pullrefresh .item .goods-list-cell{
	display: inline-block;
	border: 1px solid #EEEEEE;
	width:48%;
	padding: 1% 2%;
	margin:0 1% 0.833rem 1%;
}
#pullrefresh .item .goods-list-cell figure{
	width:100%;
}
#pullrefresh .item .goods-list-cell figure img{
	display: block;
	/*width:100%;*/
	width:12rem;
	height:12rem;
	margin: 0 auto;
	margin-bottom: 0.5rem;
}
#pullrefresh .item .goods-list-cell .mall-white{
	display:block;
	width:95%;
	line-height: 1rem;
	margin-bottom: 0.5rem;
}
#pullrefresh .item .goods-list-cell .addshopcart{
	display: block;
	width:100%;
	height:2rem;
	line-height: 2rem;
	background: #d8346e;
	color:#FFFFFF;
	text-align: center;
}
/*商品列表*/
/*首页*/
.index #header{
	display: inline-block;
	width:100%;
	height:50px;
	line-height: 50px;;
	padding:0 5%;
	background: url(../../Images/mojie/index-header-bg.jpg) no-repeat;
	background-size: 100%;
}
.index #header a{
	color:#CCCCCC;
}
.index .iconfont{font-size:16px;}
.index #header figure{
	display:inline-block;
	width:90%;
	/*line-height: 50px;*/
	text-align: center;
	
	
}
.index #header figure img{
	width:26px;
}
.index #header figure h1{
	display:inline-block;
	font-size: 18px;
	color: #666666;
}
.index nav{
	margin-top:51px;
	width:100%;
	height: 4.17rem;
	background: #FFFFFF;
	font-size: 1.17rem;
	overflow: hidden;
}
.index nav ul {
	width:100%;
	padding:0 5%;
}
.index nav ul li{
	width:20%;
	line-height: 4.17rem;
	text-align: center;
	float:left;
}
.index nav ul li a{
	color: #666666;
}
.title-warp{
	width:100%;
	height:3rem;
	line-height: 3rem;
	padding:0.8rem 5%;
	background: #FFFFFF;
	overflow: hidden;
	color: #666666;	
}
.title-warp .seckill-title{
	display: inline-block;
	padding-left:0.8333rem;
	border-left:3px solid #d8346e;
}
.title-warp .seckill-time{
	color: #666666;	
	line-height: 1.667rem;
	text-align: center;
}
.title-warp .seckill-time .seckill-time-span{
	color:#FFFFFF;
	display:inline-block;
	width:1.667rem;
	height:1.667rem;
	background: #C7C7CC;
}
.index .mui-slider-item .mui-media-body span{
	width:50%;
	line-height: 1.17rem;
}
.index .coupon-main{
	width:100%;
	/*border-top:1px solid #CCCCCC;*/
	margin-top:1rem;
	padding:0 5%;
	background: #FFFFFF;
	overflow: hidden;
}
.index .coupon-main .title-warp{
	padding:0.8rem 0;
}
.index .coupon-main li{
	padding:0 2%;
}
.index .coupon-main li .mall-color-btn{
	width:100%;
	text-align: center;
}
.index .coupon-main .coupon{
	background-image: url(../../Images/mojie/coupon.png);
}
.index .one-goods a{
	display: block;
	width:100%;
}
.index .one-goods a img{
	width:100%;
}
.index .two-goods .item{
	width:100%;
	padding:0.833rem 5%;
	overflow: hidden;
}
.index .two-goods .item figure{
	width:30%;
}
.index .two-goods .item figure img{width:100%;}
.index .two-goods .item .item-info{
	width:65%
}
.index .two-goods .item .item-info p{
	margin-bottom: 1.25rem;
	line-height: 1.17rem;
}
.index .two-goods .item .item-info section{
	line-height: 1.17rem;
}
.index .two-goods .item .item-info a{
	display:block;
	margin-top:0.75rem;
	width:7.5rem;
	height:2.08rem;
	line-height: 2.08rem;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	color:#CCCCCC;
	text-align: center;
}
.index .list-goods .item{
	width:100%;
	padding:0.833rem 5%;
	overflow: hidden;
}
.index .list-goods .item li{
	display: inline-block;
	width:49%;
	padding: 0 2%;
}
.index .list-goods .item figure{
	width:100%;
}
.index .list-goods .item figure img{
	display: block;
	width:100%;
	margin: 0 auto;
	margin-bottom: 1rem;
}
.index .list-goods .item .mall-white{
	display:block;
	width:95%;
	line-height: 1rem;
	margin-bottom: 1rem;
}
.index .three-goods .item li{
	display: inline-block;
	width:32.5%;
	padding: 0 2%;
}
.index .notice .title-warp{
	width:100%;
	padding:0.833rem 5%;
	overflow: hidden;
}
.index .notice .title-warp img{
	width:100%;
}
.index .notice .item{
	width:100%;
	padding:0.417rem 5%;
	line-height: 1.5rem;
	vertical-align: middle;
}
.index .notice .item .mall-color-btn{
	display:block;
	margin-bottom:0.5rem;
	font-weight: 700;
}
.index .notice .item p{
	margin-bottom:1rem;
}
.index .mui-inner-wrap{
	background: #efeff4;
	width:100%;
	overflow: hidden;
}
.index aside .mui-table-view{
	background:#414549;
	margin:0;
	padding:45px 7% 13px 7%;
}
.index aside .mui-table-view li{
	padding:0;
	margin-bottom:32px;
}
#index aside .mui-table-view li a{
	display:inline-block;
	width:40%;
	margin-right:10px;
	line-height: 20px;
	font-size: 16px;
	color: #FFFFFF;
	overflow: hidden;
}
#index aside .mui-table-view li a i{
	margin-right: 13px;
	color:#CCCCCC;
}
.index .mui-off-canvas-left{
	background: #414549;
}
#index aside .item-category{
	/*margin-top:24px;*/
}
#index aside .item-category li a{
	width:21.5%;
	margin:0 1% 32px 1%;
	overflow: hidden;
	font-size: 1rem;
}
#index aside .item-category li a img{
	display:block;
	width:100%;
	padding:0.833rem;
	border:1px solid #CCCCCC;
	border-radius: 1.5rem;
	opacity: 0.6;
	overflow: hidden;
}
#index aside .item-category li a span{
	display: block;
	width:100%;
	color:#FFFFFF;
	margin-top:7px;
	text-align: center;
	line-height: 1rem;
}
#index aside .trade-footer{
	position:absolute;
	bottom:0;
	left:0;
	border-top:1px solid #CCCCCC;
	height:3.333rem;
}
#index aside .trade-footer .trade-order-submit{
	width:100%;
	/*height:5rem;
	line-height: 5rem;*/
	height:3.333rem;
	line-height: 3.333rem;
	background: #414549;
}
#index aside .trade-footer .trade-order-submit a{
	display:inline-block;
	width:49%;
	text-align: center;
	color:#CCCCCC;
}
#index aside .trade-footer .trade-order-submit a i{
	margin-right: 5px;	
	color:#CCCCCC;
}
#footer{
	width:41.7%;
	height:3rem;
	background:#000000;
	left:5%;
	bottom:3%;
	opacity: 0.5;
	border:1px solid #FFFFFF;
	border-radius: 1rem;
}
#footer .mui-btn-blue{
	padding:0 5%;
	border:none;
	background: none;
	
}
#footer .mui-btn-blue a{
	display:inline-block;
	width:23%;
	line-height: 3rem;
	text-align: center;
}
#footer .mui-btn-blue a i{vertical-align: middle;}
#footer .mui-btn-blue a .iconfont{
	color:#FFFFFF;
	font-size: 20px;
}
/*首页*/
/*商品详情*/
.product .product-list{
	
}
.product .contaniner{
	width:100%;
	overflow: hidden;
	position:static;
	background: #FFFFFF;
}
.product #slider {
	width:320px;
	margin: 0 auto;
	overflow: hidden;
	/*background: #FFFFFF;*/
}
.product .mui-table-view{
	border-top:1px solid #c8c7cc;
	width:100%;
	padding:0 5%;
	overflow: hidden;
}
.product .mui-table-view .mui-table-view-cell{
	padding:0.6rem 0;
}
.product .mui-table-view .mall-color-title{
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 700;
}
.product .mui-table-view .mall-color-def span{
	display:inline-block;
	width:32%;
	color:#666666;
}
.product .mui-table-view .mall-color-def strong{
	color:#666666;
}
.product .mui-table-view .mui-navigate-right{	
	margin:0;
	padding:0;
}
.product .mui-table-view .mui-navigate-right .mall-color-btn{
	display: inline-block;
	width:auto;
	border: 2px solid #d8346e;
	border-radius: 0.833rem;
	padding: 0.416rem;
	color:#d8346e;
	text-align: center;
}
.product .mui-table-view .mui-navigate-right .fr{
	width:auto;
	margin-right:10%;
	line-height: 2.33rem;
	color:#666666;
}
.product .mui-table-view .mui-table figure{
	display:inline-block;
	width:15%;
	margin-bottom:1rem;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius:50%;
	overflow: hidden;
}
.product .mui-table-view .mui-table .mui-col-xs-10{
	display:inline-block;
	width:83%;
	padding-left:1rem;
}
.product .mui-table-view .mui-table .mui-col-xs-10 section{
	display:block;
	line-height: 1;
	overflow: hidden;
}
.product .mui-table-view .mui-table .mui-col-xs-10 .mui-ellipsis{
	display: inline-block;
	/*margin-top:5px;*/
	white-space: inherit;
}
.product .mui-table-view .mui-table .mui-col-xs-10 .mui-icon{
	font-size: 14px;
	margin:5px 0;
}
.product .mui-table-view .mui-table .mui-col-xs-10 .mui-active{
	color:#d8346e;
	/*background: #d8346e;*/
}
.product .mui-content{
	width:100%;
	padding: 1rem 5%;
	overflow: hidden;
}
.product .mui-content img{
	width:100%;
}
.product .trade-footer{
	border:none;
	padding:0;
}
.product .trade-footer .trade-order-submit{
	width:50%;
	height:5rem;
	line-height: 5rem;
}
.product #cover-pop{
	position: absolute;
	bottom: 5rem;
	left:0;
	z-index: 100;
}
.product #cover-pop .mui-content figure{
	display: inline-block;
    width: 20%;
    margin: 0.41rem 0;
}
.product #cover-pop .mui-content .fr{
	display: inline-block;
    width: 80%;
    font-size: 0.8333rem;
    margin: 0.41rem 0;
    padding-left:5%;
    overflow: hidden;
}
.product #cover-pop .mui-content .fr li{overflow: hidden;}
.product #cover-pop .mui-content .fr .goods-attr
.product #cover-pop .mui-content .fr .goods-attr{margin-top:1.2rem;}
.product #cover-pop .mui-content .add-address-submit {width:30%;margin-top:1rem;}
/*商品详情*/
